h1{
	color: #2380E2;
	font-family: sans-serif;
}

.btn {
  background: #639FDE;
  border-radius: 28px;
  font-family: sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  text-align: center;
}

.btn:hover{
  background-color: #2380E2;
}


.jumbotron{
	background-color: #dcdcdc;
	text-align: center;
	border-radius: 2px;
}
#header {
		 float: left;
		 min-width: 100%;
		 background-color: #93bdd6;
		 padding: 52px 0px;
			 }
#logo {
	position:absolute;
	float: left;
	width: 338px;
	height: 100px;
	z-index:300;
}

#menu_wrapper {
	float: right;
	line-height: 40px;
	z-index:600;
}
#nav {
	float: right;
	list-style: none;
}
#nav li {
	float: left;
	padding-right: 40px;
}
#nav li #end {
	float: left;
	padding-right: 0px;
}

.myimg {
	width:130px;
	height:auto;
}

.maker{
	text-align: center;
  vertical-align: middle;
  line-height: 100px;
	font-family: font-family: "Gotham Bold",Helvetica,Arial,"Lucida Grande",sans-serif;
	font-size:50px
}



@media screen and (max-width: 800px) {
 #menu { display: block;
	 text-align: left;
	 list-style: none; }
 #nav.js { display: none; }
 ul { width:100%; }
 li { width:100%;
	 border-right:none; }
 }

@media screen and (min-width: 700px) {
 #menu { display: none; }
 }

 .zing {
   display: inline-block;
   font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
   font-size: 12px;
   font-weight: bold;
   line-height: 16px;
   border-color: #eee #ddd #bbb;
   border-radius: 5px;
   border-style: solid;
   border-width: 1px;
   box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
   margin: 10px 5px;
   padding: 0 16px 16px 16px;
   max-width: 468px;
 }

 .zing p {
   font-size: 16px;
   font-weight: normal;
   line-height: 20px;
 }

 .zing a {
   color: inherit;
   font-weight: normal;
   text-decoration: none;
   outline: 0 none;
 }

 .zing a:hover,
 .zing a:focus {
   text-decoration: underline;
 }
