
<div class="panel right" ng-controller = "MainCtrl as main" ng-show = "answers.sectionOne">
  <h1>Send a Zing!</h1>
  <p>
    <form>
      Username:
      <input ng-model ="username" name="username" type="text" id="username">
      Message:
      <textarea ng-model = "message" name="text" class="ribbitText" style = "font-size: 18px" id="message"></textarea>
      <input type="submit" value="Send Zing!" ng-click = "zingify(username, message)">
    </form>
  </p>
</div>
<div id="ribbits" class="panel left" ng-controller = "MainCtrl as main" ng-show="answers.sectionTwo">
  <h1>All Zings</h1>
  <div class="ribbitWrapper" ng-repeat = "zing in zingArray" ng-show = "answers.sectionThree">
    <img class="avatar" src="gfx/user2.png">
    <span class="name">{{zing.username}}</span> @makersquare <span class="time">11m</span>
    <p>
    {{zing.message}}
    </p>
  </div>
</div>
